{% extends "base.html" %}

{% block content %}


<h3>I present to you...the blog!</h3>

<div >
    <button class="home"><a id="newpostbutton" href="/blog">Home</a></button>
    <button class="newpost"><a id="newpostbutton" href="/newpost">New Post</a></button>
</div>
<br>

{% for blog in posts %}
    <div class = "blog">
        <a href="/blog/{{ blog.key().id() }}"><div class = "blog-subject"> {{ blog.subject }}</div></a>
        <div class = "blog-create"> {{ blog.create.strftime('%B %d, %Y %I:%M:%S %p UST') }}</div>
        <hr>
        <pre class = "blog-post"> {{ blog.blog }}</div>

    </div>

{% endfor %}
<div >
    {% if pageno > 1 %}
    <button class="previous"><a id="newpostbutton" href="/blog?page={{ (pageno - 1) }}">&lt&lt Previous</a></button>
    {% endif %}
    {% if postcount != 0 %}
    <button class="Next"><a id="newpostbutton" href="/blog?page={{ (pageno + 1)}}">Next &gt&gt</a></button>
    {% endif %}
</div>


{% endblock %}
