{% extends "base.html" %}

{% block content %}

<h3>New Post</h3>

<form method="post">
    <label>
        <div>Subject</div>
        <input class="sub_input" type="text" name="subject" value= {{ subject }}>
    </label>
    <br><br>
    <label>
        <div>Blog</div>
        <textarea class="blog_input" name="blog">{{ blog }}</textarea>
    </label>

    <div class="error">{{ error if error else "" }}</div>
    <button>Post it!</button>
    <button>
        <a id="takemeback" href="/blog">Take me back to the blog</a>
    </button>

{% for blog in posts %}
    <div class = "blog">
        <div class = "blog-subject"> {{ blog.subject }}</div>
        <pre class = "blog-post"> {{ blog.blog }}</div>
    </div>
{% endfor %}

{% endblock %}
