{% extends "base.html" %}

{% block content %}

<div name="oops">Ooops, I didn't want to make a post, take me to the blog!</div>
    <button>
        <a href="/blog">Get me outta here!</a>
    </button>
</div>

<h1>New Post</h1>

<form method="post">
    <label>
        <div>Subject</div>
        <input type="text" name="subject" value= {{ subject }}>
    </label>

    <label>
        <div>Blog</div>
        <textarea name="blog">{{ blog }}</textarea>
    </label>

    <div class="error">{{ error if error else "" }}</div>
    <button>Post it!</button>

<hr>

{% for blog in posts %}
    <div class = "blog">
        <div class = "blog-subject"> {{ blog.subject }}</div>
        <pre class = "blog-post"> {{ blog.blog }}</div>
    </div>
{% endfor %}

{% endblock %}
